@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  overflow-y: scroll;
  position: relative;
  height: 100dvh; /* Ajustez la hauteur en fonction de vos besoins */
}

.scroll-container::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement */
}

.scroll-container::-webkit-scrollbar-thumb {
  @apply bg-gray-600 dark:bg-slate-300 rounded;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700 dark:bg-slate-400 /* Couleur de la barre de défilement au survol */;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cl-internal-b3fm6y {
  display: none !important;
}
* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms !important;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  /* Changer la couleur de l'icône ici */
  color: #ff0000 !important; /* Changez cette valeur en fonction de la couleur que vous souhaitez */
}
.credits {
  display: none;
}
