.l10n-fr-FR {
  --l10n-locale-name: "fr-FR";

  --l10n-upload-file: "Télécharger le fichier";
  --l10n-upload-files: "Télécharger les fichiers";
  --l10n-choose-file: "Choisir le fichier";
  --l10n-choose-files: "Choisir les fichiers";
  --l10n-drop-files-here: "Déposer les fichiers ici";
  --l10n-select-file-source: "Sélectionner la source du fichier";
  --l10n-selected: "Sélectionné";
  --l10n-upload: "Téléverser";
  --l10n-add-more: "Ajouter plus";
  --l10n-cancel: "Annuler";
  --l10n-clear: "Effacer";
  --l10n-camera-shot: "Prendre une photo";
  --l10n-upload-url: "Importer à partir du lien";
  --l10n-upload-url-placeholder: "Coller le lien ici";
  --l10n-edit-image: "Modifier l'image";
  --l10n-edit-detail: "Détails";
  --l10n-back: "Retour";
  --l10n-done: "Terminé";
  --l10n-ok: "Ok";
  --l10n-remove-from-list: "Supprimer";
  --l10n-no: "Non";
  --l10n-yes: "Oui";
  --l10n-confirm-your-action: "Confirmez votre action";
  --l10n-are-you-sure: "Êtes-vous sûr ?";
  --l10n-selected-count: "Sélectionné :";
  --l10n-upload-error: "Erreur de téléchargement";
  --l10n-validation-error: "Erreur de validation";
  --l10n-no-files: "Aucun fichier sélectionné";
  --l10n-browse: "Parcourir";
  --l10n-not-uploaded-yet: "Pas encore téléchargé...";
  --l10n-file__one: "fichier";
  --l10n-file__many: "de fichiers";
  --l10n-file__other: "fichiers";
  --l10n-error__one: "erreur";
  --l10n-error__many: "d'erreurs";
  --l10n-error__other: "erreurs";
  --l10n-header-uploading: "Téléchargement de {{count}} {{plural:file(count)}} en cours";
  --l10n-header-failed: "{{count}} {{plural:error(count)}}";
  --l10n-header-succeed: "{{count}} {{plural:file(count)}} téléchargés";
  --l10n-header-total: "{{count}} {{plural:file(count)}} sélectionnés";

  --l10n-src-type-local: "Depuis l'appareil";
  --l10n-src-type-from-url: "Depuis le lien";
  --l10n-src-type-camera: "Appareil photo";
  --l10n-src-type-draw: "Dessiner";
  --l10n-src-type-facebook: "Facebook";
  --l10n-src-type-dropbox: "Dropbox";
  --l10n-src-type-gdrive: "Google Drive";
  --l10n-src-type-gphotos: "Google Photos";
  --l10n-src-type-instagram: "Instagram";
  --l10n-src-type-flickr: "Flickr";
  --l10n-src-type-vk: "VK";
  --l10n-src-type-evernote: "Evernote";
  --l10n-src-type-box: "Box";
  --l10n-src-type-onedrive: "OneDrive";
  --l10n-src-type-huddle: "Huddle";
  --l10n-src-type-other: "Autre";

  --l10n-src-type: var(--l10n-src-type-local);

  --l10n-caption-from-url: "Importer depuis le lien";
  --l10n-caption-camera: "Appareil photo";
  --l10n-caption-draw: "Dessiner";
  --l10n-caption-edit-file: "Modifier le fichier";

  --l10n-file-no-name: "Sans nom...";

  --l10n-toggle-fullscreen: "Basculer en plein écran";
  --l10n-toggle-guides: "Basculer les guides";
  --l10n-rotate: "Rotation";
  --l10n-flip-vertical: "Retourner verticalement";
  --l10n-flip-horizontal: "Retourner horizontalement";
  --l10n-brightness: "Luminosité";
  --l10n-contrast: "Contraste";
  --l10n-saturation: "Saturation";
  --l10n-resize: "Redimensionner l'image";
  --l10n-crop: "Recadrer";
  --l10n-select-color: "Sélectionner la couleur";
  --l10n-text: "Texte";
  --l10n-draw: "Dessiner";
  --l10n-cancel-edit: "Annuler la modification";

  --l10n-tab-view: "Aperçu";
  --l10n-tab-details: "Détails";

  --l10n-file-name: "Nom";
  --l10n-file-size: "Taille";
  --l10n-cdn-url: "URL CDN";
  --l10n-file-size-unknown: "Inconnu";

  --l10n-camera-permissions-denied: "Autorisation d'accès à l'appareil photo refusée";
  --l10n-camera-permissions-prompt: "Veuillez autoriser l'accès à l'appareil photo";
  --l10n-camera-permissions-request: "Demander l'accès";

  --l10n-files-count-limit-error-title: "Limite de nombre de fichiers dépassée";
  --l10n-files-count-limit-error-too-few: "Vous avez choisi {{total}}. Au moins {{min}} est requis.";
  --l10n-files-count-limit-error-too-many: "Vous avez sélectionné trop de fichiers. {{max}} est le maximum autorisé.";

  --l10n-files-max-size-limit-error: "Le fichier est trop volumineux. La taille maximale autorisée est de {{maxFileSize}} octets.";
  --l10n-has-validation-errors: "Une erreur de validation du fichier est survenue. Veuillez vérifier vos fichiers avant de les télécharger.";
  --l10n-images-only-accepted: "Seules les images sont acceptées.";
  --l10n-file-type-not-allowed: "Ce type de fichier n'est pas autorisé pour le téléchargement.";

  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}
lr-copyright {
  display: none;
}
